@import "../../styles/variables.module.scss";

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 16px;
  background: $grey-color;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 10px;
    padding: 8px;
  }
}
